Bermuda.TestClient/Service References/ExternalAccess/ExternalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExternalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13866/Connection.External/ExternalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13866/Connection.External/ExternalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13866/Connection.External/ExternalService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:13866/Connection.External/ExternalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bermuda.Service" />
      <xsd:import schemaLocation="http://localhost:13866/Connection.External/ExternalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Bermuda.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExternalService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IExternalService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IExternalService_GetMentions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMentions" />
  </wsdl:message>
  <wsdl:message name="IExternalService_GetMentions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMentionsResponse" />
  </wsdl:message>
  <wsdl:message name="IExternalService_GetDatapoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatapoints" />
  </wsdl:message>
  <wsdl:message name="IExternalService_GetDatapoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatapointsResponse" />
  </wsdl:message>
  <wsdl:portType name="IExternalService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalService/Ping" message="tns:IExternalService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalService/PingResponse" message="tns:IExternalService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMentions">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalService/GetMentions" message="tns:IExternalService_GetMentions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalService/GetMentionsResponse" message="tns:IExternalService_GetMentions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatapoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalService/GetDatapoints" message="tns:IExternalService_GetDatapoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalService/GetDatapointsResponse" message="tns:IExternalService_GetDatapoints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExternalService" type="tns:IExternalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IExternalService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMentions">
      <soap:operation soapAction="http://tempuri.org/IExternalService/GetMentions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatapoints">
      <soap:operation soapAction="http://tempuri.org/IExternalService/GetDatapoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalService">
    <wsdl:port name="BasicHttpBinding_IExternalService" binding="tns:BasicHttpBinding_IExternalService">
      <soap:address location="http://localhost:13866/Connection.External/ExternalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>