Bermuda.Client/Service References/ExternalAccess/BermudaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bermuda.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bermuda.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13866/Connection.Internal/BermudaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Bermuda.Entities" />
  <xs:complexType name="BermudaMentionResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bermuda.Entities" minOccurs="0" name="Mentions" nillable="true" type="q1:ArrayOfMention" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bermuda.Entities" minOccurs="0" name="Metadata" nillable="true" type="q2:BermudaNodeStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BermudaMentionResult" nillable="true" type="tns:BermudaMentionResult" />
  <xs:complexType name="BermudaDatapointResult">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bermuda.Entities" minOccurs="0" name="Datapoints" nillable="true" type="q3:ArrayOfDatapoint" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Bermuda.Entities" minOccurs="0" name="Metadata" nillable="true" type="q4:BermudaNodeStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BermudaDatapointResult" nillable="true" type="tns:BermudaDatapointResult" />
</xs:schema>